table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

.thumbnail {
    max-width: 75px;
    max-height: 75px;
}

.flash {
    background-color: lightcoral;
    padding: 1em;
}

.unit-sales {
    background: #FFFF99;
}

.unit-sales-revenue {
    background: #F1B851;
}

.page-reads {
    background: #46DF80;
}

.print-revenue {
    background: #93ECF5;
}