<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Magic Spreadsheet - Spring Boot style</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>

    <h1>Magic Spreadsheet - Spring Boot style</h1>

    <div>
        <table>
            <thead>
            <tr>
                <th></th><th>Campaign</th><th>Type</th><th>Start</th><th>End</th><th>Budget</th><th>Book Title</th><th>Series</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="data : ${adTable}">
                <td th:text="${data.rowNum}" />
                <td th:text="${data.campaignName}" />
                <td th:text="${data.type}" />
                <td th:text="${data.start}" />
                <td th:text="${data.end}" />
                <td th:text="${data.budget}" />
                <td th:text="${data.bookTitle}" />
                <td th:text="${data.series}" />
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>