<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Magic Spreadsheet - Spring Boot style</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>

<h1>Magic Spreadsheet - Spring Boot style</h1>

<div>
    <ul>
        <li><a th:href="@{/}">Home</a></li>
    </ul>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Short</th>
                <th>Series</th>
                <th>ASIN</th>
                <th>KENPC</th>
            </tr>
        </thead>
        <tbody>

            <tr th:each="book : ${books}">
                <td th:text="${book.title}" />
                <td th:text="${book.author}" />
                <td th:text="${book.bookShort}" />
                <td th:text="${book.series}" />
                <td th:text="${book.ASIN}" />
                <td th:text="${book.KENPC}" />
                <td>
                    <form th:action="@{/setBookShort}" th:method="post">
                        <input name="bookShort" th:value="${book.bookShort}" placeholder="Short" />
                        <input name="bookSeries" th:value="${book.series}" placeholder="Series" />
                        <input name="kenpc" th:value="${book.KENPC}" placeholder="KEPNC" />
                        <button name="bookTitle" th:value="${book.title}">Set Details</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/books}" th:method="delete">
                        <button name="bookTitle" th:value="${book.title}">Delete</button>
                    </form>
                </td>
            </tr>
        </form>
        </tbody>
    </table>
</div>

</body>
</html>