<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Magic Spreadsheet - Spring Boot style</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>

<h1>Magic Spreadsheet - Spring Boot style</h1>

<div>
    <ul>
        <li><a th:href="@{/}">Home</a></li>
    </ul>
</div>

<div>
    <table>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}" />
            <td th:text="${book.author}" />
            <td th:text="${book.bookShort}" />
            <td th:text="${book.series}" />
            <td th:text="${book.ASIN}" />
            <td th:text="${book.KENPC}" />
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>