<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Magic Spreadsheet - Spring Boot style</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>

    <h1>Magic Spreadsheet - Spring Boot style</h1>

    <ul>
        <li><a th:href="@{/ads}">Ads</a></li>
        <li><a th:href="@{/rawRoyaltyData}">Raw Royalty Data</a></li>
        <li><a th:href="@{/rawAmsData}">Raw AMS Ad Data</a></li>
        <li><a th:href="@{/conversions}">Conversion Data</a></li>
        <li><a th:href="@{/conversionsRaw}">Conversions - RAW</a></li>
        <li><a th:href="@{/unlinkedAds}">Unlinked Ads</a></li>
        <li><a th:href="@{/books}">All Books</a></li>
    </ul>

    <p>
        Load new Magic Spreadsheet (and wipe out existing data)
        <form method="post" enctype="multipart/form-data" action="/upload">
            <p><input type="file" name="spreadsheet" /></p>
            <p><input type="submit" value="Upload" /></p>
        </form>
    </p>

    <p>
        Import new AMS report
        <form method="post" enctype="multipart/form-data" action="/import-ams">
            <p><input type="file" name="csvFile" multiple="multiple" /></p>
            <p><input type="date" name="date" /></p>
            <p><input type="submit" value="Upload" /></p>
        </form>
    </p>

    <footer>(C) 2018 Greg L. Turnquist All Rights Reserved "Use the <a href="https://github.com/gregturn/magic-spreadsheet">source</a>, Luke!"</footer>
</body>
</html>