<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Magic Spreadsheet - Spring Boot style</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>

    <h1>Magic Spreadsheet - Spring Boot style</h1>

    <ul>
        <li><a th:href="@{/ads}">Ads</a></li>
        <li><a th:href="@{/rawdata}">Raw Data</a></li>
        <li><a th:href="@{/conversions}">Conversion Data</a></li>
    </ul>

    <form method="post" enctype="multipart/form-data" action="/upload">
        <p><input type="file" name="spreadsheet" /></p>
        <p><input type="submit" value="Upload" /></p>
    </form>


</body>
</html>