<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Magic Spreadsheet - Spring Boot style</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>

    <h1 th:text="${'Magic Spreadsheet - ' + title + ' - Report'}" />

    <div>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
        </ul>
    </div>

    <div>
        <table>
            <thead>
            <tr>
                <th>All Titles</th>
                <th th:each="date : ${dates}" th:text="${date.T2}"></th>
            </tr>
            </thead>
            <tbody>
                <tr class="unit-sales">
                    <td>Unit Sales</td>
                    <td th:each="unitsSold : ${unitSales}" th:text="${unitsSold.T2}" th:for="${unitsSold.T1}"></td>
                </tr>
                <tr class="unit-sales">
                    <td>7-Day Moving Avg (Unit Sales)</td>
                    <td th:each="value : ${movingAverageUnitSales}" th:text="${value.average}" th:for="${value.date}"></td>
                </tr>
                <tr class="unit-sales">
                    <td th:text="${window + '-Day Sales Total'}" />
                    <td th:each="value : ${totalSales}" th:text="${value.total}" th:for="${value.date}"></td>
                </tr>
                <tr class="unit-sales-revenue">
                    <td>Daily Sales Revenue</td>
                    <td th:each="unitRoyalty : ${unitRevenue}" th:text="${unitRoyalty.T2}" th:for="${unitRoyalty.T1}"></td>
                </tr>
                <tr class="unit-sales-revenue">
                    <td>7-Day Moving Avg (Sales Revenue)</td>
                    <td th:each="value : ${movingAverageUnitRevenue}" th:text="${value.average}" th:for="${value.date}"></td>
                </tr>
                <tr class="unit-sales-revenue">
                    <td th:text="${window + '-Day Sales Revenue Total'}" />
                    <td th:each="value : ${totalRevenue}" th:text="${value.total}" th:for="${value.date}"></td>
                </tr>
                <tr class="page-reads">
                    <td>Page Reads</td>
                    <td th:each="pagesRead : ${pageReads}" th:text="${pagesRead.T2}" th:for="${pagesRead.T1}"></td>
                </tr>
                <tr class="page-reads">
                    <td>7-Day Moving Avg (Page Reads)</td>
                    <td th:each="value : ${movingAveragePageReads}" th:text="${value.average}" th:for="${value.date}"></td>
                </tr>
                <tr class="page-reads">
                    <td th:text="${window + '-Day Page Reads Total'}" />
                    <td th:each="value : ${totalPageReads}" th:text="${value.total}" th:for="${value.date}"></td>
                </tr>
                <tr class="page-reads">
                    <td>Estimated Revenue</td>
                    <td th:each="value : ${estimatedRevenue}" th:text="${value.T2}" th:for="${value.T1}"></td>
                </tr>
                <tr class="page-reads">
                    <td>7-Day Moving Avg (Page Revenue)</td>
                    <td th:each="value : ${movingAveragePageRevenue}" th:text="${value.average}" th:for="${value.date}"></td>
                </tr>
                <tr class="total">
                    <td>Gross Revenue</td>
                    <td th:each="value : ${combinedRevenue}" th:text="${value.T2}" th:for="${value.T1}"></td>
                </tr>
                <tr class="total">
                    <td th:text="${'Running ' + window + '-Day Total'}" />
                    <td th:each="value : ${totalGrossRevenue}" th:text="${value.total}" th:for="${value.date}"></td>
                </tr>
                <tr class="ads-for">
                    <td>Ads for</td>
                </tr>
                <tr class="ad-stats">
                    <td>Impressions</td>
                    <td th:each="value : ${impressions}" th:text="${value.T2}" th:for="${value.T1}"></td>
                </tr>
                <tr class="ad-stats">
                    <td>Clicks</td>
                    <td th:each="value : ${clicks}" th:text="${value.T2}" th:for="${value.T1}"></td>
                </tr>
                <tr class="ad-stats">
                    <td>Spend</td>
                    <td th:each="value : ${spend}" th:text="${value.T2}" th:for="${value.T1}"></td>
                </tr>
                <tr class="ad-stats">
                    <td>Ad Count (Only impressions > 1000)</td>
                    <td th:each="value : ${adCount}" th:text="${value.T2}" th:for="${value.T1}"></td>
                </tr>
                <tr class="roi">
                    <td th:text="${'Running ' + window + '-Day Spend'}" />
                    <td th:each="value : ${totalAdSpend}" th:text="${value.total}" th:for="${value.date}"></td>
                </tr>
                <tr class="roi">
                    <td>Running ROI</td>
                    <td th:each="value : ${roi}" th:text="'' + ${value.total} + '%'" th:for="${value.date}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer>(C) 2018 Greg L. Turnquist All Rights Reserved "Use the <a href="https://github.com/gregturn/magic-spreadsheet">source</a>, Luke!"</footer>

</body>
</html>