<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Magic Spreadsheet - Spring Boot style</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>

    <h1>Magic Spreadsheet - Spring Boot style</h1>

    <div>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
        </ul>
    </div>

    <div>
        <form>
            <fieldset>
                <p>Filter:</p>
                <div th:each="filterOption : ${filterOptions}">
                    <input type="radio" th:id="${filterOption.window}" name="window" th:value="${filterOption.window}" th:checked="${filterOption.checked}" />
                    <label th:for="${filterOption.window}" th:text="${filterOption.label}" />
                </div>
                <div>
                    <button type="submit">Apply</button>
                </div>
            </fieldset>
        </form>
    </div>

    <div>
        <form th:action="@{/deleteAllAmsData}" th:method="delete">
            <button type="submit">DELETE ALL AMS DATA</button>
        </form>
    </div>
    
    <div>
        <table>
            <thead>
            <tr>
                <th></th><th>Status</th><th>Campaign</th><th>Impressions</th><th>Clicks</th><th>Avg. CPC</th><th>Total Spent</th><th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="data : ${amsData}">
                <td th:text="${data.rowNum}" />
                <td th:text="${data.status}" />
                <td th:text="${data.campaignName}" />
                <td th:text="${data.impressions}" />
                <td th:text="${data.clicks}" />
                <td th:text="${data.averageCpc}" />
                <td th:text="${data.totalSpend}" />
                <td th:text="${data.date}" />
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>