<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Magic Spreadsheet - Spring Boot style</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>

    <h1>Magic Spreadsheet - Spring Boot style</h1>

    <div>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
        </ul>
    </div>

    <div>
        <form>
            <fieldset>
                <p>Filter:</p>
                <div th:each="filterOption : ${filterOptions}">
                    <input type="radio" th:id="${filterOption.window}" name="window" th:value="${filterOption.window}" th:checked="${filterOption.checked}" />
                    <label th:for="${filterOption.window}" th:text="${filterOption.label}" />
                </div>
                <div>
                    <button type="submit">Apply</button>
                </div>
            </fieldset>
        </form>
    </div>

    <div>
        <form th:action="@{/deleteAllRoyaltyData}" th:method="delete">
            <button type="submit">DELETE ALL ROYALTY DATA</button>
        </form>
    </div>
    
    <div>
        <table>
            <thead>
            <tr>
                <th>Date</th><th>Title</th><th>Author</th><th>ASIN</th><th>Net Units Sold</th><th>Royalty</th><th>Currency</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="data : ${royaltyData}">
                <td th:text="${data.royaltyDate}" />
                <td th:text="${data.title}" />
                <td th:text="${data.authorName}" />
                <td th:text="${data.ASIN}" />
                <td th:text="${data.netUnitsSold}" />
                <td th:text="${data.royalty}" />
                <td th:text="${data.currency}" />
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>